//imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

//Colors
$primary: #00ACA0;
$Gray075: #F5F7FA;
$Gray400: #9A9EAA;
$Gray800: #2D3238;
$Gray950: #11151A;

//FontSizes

$PageTitleFontSize: 36px;
$cardTitleFontSize: 33px;
$standardFontSize: 18px;
$linkSize: 15.75px;

//FontFamily
$standardFontFamily: 'Open Sans', sans-serif;

//FontWeight
$Bold: 600;
$semiBold: 400;
$normalWeight: 300;